
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>后台管理页面</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <link href="/stylesheets/dashboard.css" rel="stylesheet">
    <style type="text/css">
       body{
        overflow-y:scroll; 
       }
       td{
        height:50px;
        line-height: 50px;
       }
       .row{
          margin-bottom:15px;
       }
    </style>
  </head>

  <body>

    <% include header.ejs%>

    <div class="container-fluid">
      <div class="row">
         <% include nav.ejs%>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">管理全部书籍</h1>
         <!-- 书籍显示 -->
          <table class="table table-hover table-bordered col-sm-16 table-condensed ">
            <thead>
              <tr >
                <th >ID<span class='glyphicon glyphicon-pushpin'></span></th>
                <th >用户名<span class='glyphicon glyphicon-pushpin'></span></th>
                <th >书名<span class='glyphicon glyphicon-pushpin'></span></th>
                <th >分类<span class='glyphicon glyphicon-pushpin'></span></th>
                <th >作者<span class='glyphicon glyphicon-pushpin'></span></th>
                <th >价格<span class='glyphicon glyphicon-pushpin'></span></th>
                <th >出版商<span class='glyphicon glyphicon-pushpin'></span></th>
                <th style="width:90px">出版日期<span class='glyphicon glyphicon-pushpin'></span></th>
                <th >当前数量<span class='glyphicon glyphicon-pushpin'></span></th> 
                <th >总数量<span class='glyphicon glyphicon-pushpin'></span></th>
                <th style="width:150px">简要说明<span class='glyphicon glyphicon-pushpin'></span></th>
                <th >封面图<span class='glyphicon glyphicon-pushpin'></span></th>
                <th >修改<span class='glyphicon glyphicon-pushpin'></span></th>
                <th >删除<span class='glyphicon glyphicon-pushpin'></span></th>

              </tr>
            </thead>
            <tbody>
              <% for(var i=0;i<bookData.length;i++){%>
              <tr>
                <td class='id'><%= bookData[i].book_id%></td>
                <td class='username'><%= bookData[i].username%></td>
                <td class='book_name'><%= bookData[i].book_name%></td>
                <td class='sort'><%= bookData[i].sort%></td>
                <td class='writer'><%= bookData[i].book_author%></td>
                <td class='price'><%= bookData[i].price%></td>
                <td class='publish'><%= bookData[i].publish%></td>
                <td class='publish_date'><%= bookData[i].publish_date%></td>
                <td class='current_num'><%= bookData[i].current_num%></td>
                <td class='count'><%= bookData[i].count%></td>
                <td class='summary'><%= bookData[i].summary%></td>
                <td class='book_img'><img src="/upload/<%= bookData[i].image_src%>" alt="" style="width:40px;height:50px;" class='book_img_src'></td>
                <td><button type="button" class="btn btn-success btn-sm change_book" data-toggle="modal" data-target="#myModal">修改<span class='glyphicon glyphicon-pencil'></span></button></td>
                <td><button type="button" class="btn btn-danger btn-sm del_book">删除<span class='glyphicon glyphicon-trash'></span></button></td>
              </tr>
              <% }%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
      
    <!-- 修改书籍模态框 -->
    <div class="modal fade" tabindex="-1" id="myModal" role="dialog" aria-labelledby="gridSystemModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">修改书籍类别</h4>
          </div>
         
          <!-- 存放id -->
          <span id="bookID" style="display: none;"> </span>
          <div class="modal-body">
              <div class="row">
                    <label class="col-md-3 control-label">
                        书名：
                    </label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="请输入书名……" ng-model="bookName" id="bookName" name="bookName" required autofocus="">
                    </div>
              </div>
              <div class="row">
                  <label class="col-md-3 control-label">
                      作者：
                  </label>
                  <div class="col-md-7">
                      <input type="text" class="form-control" placeholder="请输入作者……"  id="writer" name="writer">
                  </div>
              </div>
              <div class="row">
                  <label class="col-md-3 control-label">
                      价格：
                  </label>
                  <div class="col-md-7">
                      <input type="text" class="form-control" placeholder="请输入价格……"  id="price" name="price" required autofocus="">
                  </div>
              </div>
              <div class="row">
                  <label class="col-md-3 control-label">
                      类别：
                  </label>
                  <div class="col-md-7">
                      <select id="sortName" class="selectpicker show-tick form-control" >
                          <% for(var i=0;i<sortData.length;i++){%>
                           <option  value="<%= sortData[i].sort_name%>"><%= sortData[i].sort_name%></option>
                          <% }%>
                      </select>
                  </div>
              </div>
              <div class="row">
                  <label class="col-md-3 control-label">
                      出版社：
                  </label>
                  <div class="col-md-7">
                      <input type="text" class="form-control" placeholder="请输入出版社……"  id="pubCompany" name="pubCompany">
                  </div>
              </div>
              <div class="row">
                  <label class="col-md-3 control-label">
                      数量：
                  </label>
                  <div class="col-md-7">
                      <input type="number" class="form-control" placeholder="请输入数量……"  id="sum" name="sum">
                  </div>
              </div>

              <div class="row">
                  <label class="col-md-3 control-label">
                      简要介绍：
                  </label>
                  <div class="col-md-7">
                      <textarea class="form-control" rows="4" placeholder="请输入简要介绍……" id="brief" name="brief"></textarea>
                     <!--  <input type="text" id="brief" class="form-control" rows="4" placeholder="请输入简要介绍……" style="height:80px;"> -->
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="changeBook">确认修改</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script>
       $(function(){
            $("ul#nav li").eq(3).attr('class','active');
       })
    </script>
     <!-- 时间字符串格式化 -->
    <script>
        $(function(){
            var time=[];
            var commonTime=[];
            var last=[];
            var unixTimestamp=[]
            for(var i=0;i<$('.publish_date').length;i++){
              time[i]=parseInt($('.publish_date').eq(i).html());
              console.log(time[i])
              unixTimestamp[i] = new Date( time[i] ) ;
              commonTime[i] = unixTimestamp[i].toLocaleString();
              last[i]=commonTime[i].indexOf(' ');
              $('.publish_date').eq(i).html(commonTime[i].substring(0,last[i]))
            }
            
           

        })
    </script>
    <script>
          //删除书籍
         for(var i=0;i<$('.id').length;i++){
              (function(j){
                   $('.del_book').eq(j).click(function(){
                   if(confirm('确认要删除这本书么？')){
                       $.ajax({
                          url:'/admin/seeAllBook',
                          type:'POST',
                          data:{
                             act:'del',
                             book_id: $('.id').eq(j).html(),
                             book_img:$('.book_img_src').eq(j).attr('src')

                          },
                          success:function(data){

                              $('.del_book').eq(j).parent().parent().remove();
                              alert(data);
                              window.location.href='/admin/seeAllBook'
                          }
                       })
                   }
               })
              })(i)     
         }
          

          // 获取书籍信息
          for(var i=0;i<$('.id').length;i++){
              (function(j){
                   $('.change_book').eq(j).click(function(){

                       $('#bookName').val($('.book_name').eq(j).html());
                       $('#writer').val($('.writer').eq(j).html());
                       $('#price').val($('.price').eq(j).html());
                       $('#pubCompany').val($('.publish').eq(j).html());
                       $('#sum').val($('.count').eq(j).html());
                       $('#brief').val($('.summary').eq(j).html());
                       $('#sortName').val($('.sort').eq(j).html());  
                       $('#bookID').html($('.id').eq(j).html())       
               })
              })(i)     
         }

        $('#changeBook').click(function(){
            $.ajax({
                url:'/admin/seeAllBook',
                type:'POST',
                data:{
                    act:'change',
                    book_id:$('#bookID').html(),
                    book_name:$('#bookName').val(),
                    book_author:$('#writer').val(),
                    price:$('#price').val(),
                    publish:$('#pubCompany').val(),
                    count: $('#sum').val(),
                    sort:$('#sortName').val(),
                    summary:$('#brief').val()
                },
                success:function(data){
                    alert(data);
                    window.location.href='/admin/seeAllBook';
                }
            })
        })

    </script>
  </body>
</html>
